<div class="thumbnail">
  <%=image_tag("butcher-town-hall/butcher-town-hall-1.jpg", alt: "Photo from Butcher Town Hall on Fourth Avenue North in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("butcher-town-hall/butcher-town-hall-2.jpg", alt: "Photo from Butcher Town Hall on Fourth Avenue North in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("butcher-town-hall/butcher-town-hall-3.jpg", alt: "Photo from Butcher Town Hall on Fourth Avenue North in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("butcher-town-hall/butcher-town-hall-4.jpg", alt: "Photo from Butcher Town Hall on Fourth Avenue North in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("butcher-town-hall/butcher-town-hall-5.jpg", alt: "Photo from Butcher Town Hall on Fourth Avenue North in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("butcher-town-hall/butcher-town-hall-6.jpg", alt: "Photo from Butcher Town Hall on Fourth Avenue North in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("butcher-town-hall/butcher-town-hall-7.jpg", alt: "Photo from Butcher Town Hall on Fourth Avenue North in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("butcher-town-hall/butcher-town-hall-8.jpg", alt: "Photo from Butcher Town Hall on Fourth Avenue North in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("butcher-town-hall/butcher-town-hall-9.jpg", alt: "Photo from Butcher Town Hall on Fourth Avenue North in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("butcher-town-hall/butcher-town-hall-10.jpg", alt: "Photo from Butcher Town Hall on Fourth Avenue North in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("butcher-town-hall/butcher-town-hall-11.jpg", alt: "Photo from Butcher Town Hall on Fourth Avenue North in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("butcher-town-hall/butcher-town-hall-12.jpg", alt: "Photo from Butcher Town Hall on Fourth Avenue North in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("butcher-town-hall/butcher-town-hall-13.jpg", alt: "Photo from Butcher Town Hall on Fourth Avenue North in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("butcher-town-hall/butcher-town-hall-14.jpg", alt: "Photo from Butcher Town Hall on Fourth Avenue North in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("butcher-town-hall/butcher-town-hall-15.jpg", alt: "Photo from Butcher Town Hall on Fourth Avenue North in Nashville")%>
</div>
