<div class="thumbnail">
  <%=image_tag("chilis-west-end/chilis-west-end-1.jpg", alt: "Photo from Chilis's on West End Ave in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("chilis-west-end/chilis-west-end-2.jpg", alt: "Photo from Chilis's on West End Ave in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("chilis-west-end/chilis-west-end-3.jpg", alt: "Photo from Chilis's on West End Ave in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("chilis-west-end/chilis-west-end-4.jpg", alt: "Photo from Chilis's on West End Ave in Nashville")%>
  <p class="caption">
    Chacho's Hockey Hair
  </p>
</div>

<div class="thumbnail">
  <%=image_tag("chilis-west-end/chilis-west-end-5.jpg", alt: "Photo from Chilis's on West End Ave in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("chilis-west-end/chilis-west-end-6.jpg", alt: "Photo from Chilis's on West End Ave in Nashville")%>
  <p class="caption">
    Our new friend Ziosk. Google was not happy that we payed him instead of our <a href="http://www.amazon.com/Samsung-Galaxy-Unlocked-Android-Smartphone/dp/B0061YRDX6">Samsung Galaxy Note N7000 16GB Unlocked Android Smartphone in Dark Blue</a>.
  </p>
</div>

<div class="thumbnail">
  <%=image_tag("chilis-west-end/chilis-west-end-7.jpg", alt: "Photo from Chilis's on West End Ave in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("chilis-west-end/chilis-west-end-8.jpg", alt: "Photo from Chilis's on West End Ave in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("chilis-west-end/chilis-west-end-9.jpg", alt: "Photo from Chilis's on West End Ave in Nashville")%>
  <p class="caption">
    The is the queso. It looks like sausage gravy from Hardees and tastes like Hamburger Helper
  </p>
</div>

<div class="thumbnail">
  <%=image_tag("chilis-west-end/chilis-west-end-10.jpg", alt: "Photo from Chilis's on West End Ave in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("chilis-west-end/chilis-west-end-11.jpg", alt: "Photo from Chilis's on West End Ave in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("chilis-west-end/chilis-west-end-12.jpg", alt: "Photo from Chilis's on West End Ave in Nashville")%>
  <p class="caption">
    Nacho nearly choked on these
  </p>
</div>

<div class="thumbnail">
  <%=image_tag("chilis-west-end/chilis-west-end-13.jpg", alt: "Photo from Chilis's on West End Ave in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("chilis-west-end/chilis-west-end-14.jpg", alt: "Photo from Chilis's on West End Ave in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("chilis-west-end/chilis-west-end-15.jpg", alt: "Photo from Chilis's on West End Ave in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("chilis-west-end/chilis-west-end-16.jpg", alt: "Photo from Chilis's on West End Ave in Nashville")%>
  <p class="caption">
    Risk of explosion. NO R2-D2!
  </p>
</div>

<div class="thumbnail">
  <%=image_tag("chilis-west-end/chilis-west-end-17.jpg", alt: "Photo from Chilis's on West End Ave in Nashville")%>
  <p class="caption">
    Give into grammar
  </p>
</div>

<div class="thumbnail">
  <%=image_tag("chilis-west-end/chilis-west-end-18.jpg", alt: "Photo from Chilis's on West End Ave in Nashville")%>
</div>

<div class="thumbnail">
  <%=image_tag("chilis-west-end/chilis-west-end-19.jpg", alt: "Photo from Chilis's on West End Ave in Nashville")%>
</div>
