<div class="thumbnail">
  <%=image_tag("cinco-de-mayo-cummins-station/cinco-de-mayo-cummins-station-1.jpg", alt: "The margarita")%>
  <div class="caption">
    <p>Typical Ranchero Juice</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("cinco-de-mayo-cummins-station/cinco-de-mayo-cummins-station-2.jpg", alt: "Salsa, guacamole, and queso dip")%>
  <div class="caption">
    <p>The trinity–salsa, guac, and queso</p>
  </div>
</div>

<div class="thumbnail">
    <%=image_tag("cinco-de-mayo-cummins-station/cinco-de-mayo-cummins-station-3.jpg", alt: "Queso spilled on the menu at Cinco de Mayo Cummins Station")%>
  <div class="caption">
    <p>Queso spill!</p>
  </div>
</div>

<div class="thumbnail">          <%=image_tag("cinco-de-mayo-cummins-station/cinco-de-mayo-cummins-station-4.jpg", alt: "The chips and salsa")%>
  <div class="caption">
    <p>Standard faire.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("cinco-de-mayo-cummins-station/cinco-de-mayo-cummins-station-5.jpg", alt: "The Riunite Margarita at Cinco de Mayo")%>
  <div class="caption">
    <p>Chacho's been doing this for a long ass time.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("cinco-de-mayo-cummins-station/cinco-de-mayo-cummins-station-6.jpg", alt: "The bathroom at Cinco de Mayo Cummins Station")%>
  <div class="caption">
    <p>Nacho had a blast shooting this bathroom.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("cinco-de-mayo-cummins-station/cinco-de-mayo-cummins-station-7.jpg", alt: "The bar at Cinco de Mayo")%>
  <div class="caption">
    <p>The Bar</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("cinco-de-mayo-cummins-station/cinco-de-mayo-cummins-station-8.jpg", alt: "Coors light sign on the exterior wall of Cinco de Mayo")%>
  <div class="caption">
    <p>Coors Light sign out front</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("cinco-de-mayo-cummins-station/cinco-de-mayo-cummins-station-9.jpg", alt: "cinco-de-mayo-cummins-station's cool neon sign")%>
  <div class="caption">
    <p>This is a very accurate rendering of the margarita they serve.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("cinco-de-mayo-cummins-station/cinco-de-mayo-cummins-station-10.jpg", alt: "The booths ast cinco de mayo")%>
  <div class="caption">
    <p>Beautiful booths.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-6.jpg", alt: "The ambience")%>
</div>
