<div class="thumbnail">
  <%=image_tag("el-torero/el-torero-1.jpg", alt: "The front counter")%>
  <div class="caption">
    <p>The front counter</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("el-torero/el-torero-2.jpg", alt: "Booths")%>
  <div class="caption">
    <p>The Booths</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("el-torero/el-torero-3.jpg", alt: "Our booth in the back")%>
  <div class="caption">
    <p>This was our booth in the back right.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("el-torero/el-torero-4.jpg", alt: "El ba&ntilde;o")%>
  <div class="caption">
    <p>El ba&ntilde;o</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("el-torero/el-torero-5.jpg", alt: "Shark painting")%>
  <div class="caption">
    <p>The decor has an oceanic theme.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("el-torero/el-torero-6.jpg", alt: "Chips and salsa")%>
  <div class="caption">
    <p>The salsa was pretty good and very spicy, but the chips were kinda bad.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("el-torero/el-torero-7.jpg", alt: "El Torero Menu")%>
  <div class="caption">
    <p>The El Torero Menu.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("el-torero/el-torero-8.jpg", alt: "The chips")%>
  <div class="caption">
    <p>Huge chips in a huge offering basket.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("el-torero/el-torero-9.jpg", alt: "The margaritas")%>
  <div class="caption">
    <p>The margs came in a glass well-suited to lemonade at the country club.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("el-torero/el-torero-10.jpg", alt: "The Hunts logo on the menu")%>
  <div class="caption">
    <p>The menu featured a mini graphic depiction of a Hunt's Tomato can.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("el-torero/el-torero-11.jpg", alt: "The Land O'Lakes logo on the menu.")%>
  <div class="caption">
    <p>...and also the Land O'Lakes logo.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("el-torero/el-torero-12.jpg", alt: "The menu was extremely large.")%>
  <div class="caption">
    <p>The menu was extremely large and oriented in an unexpected manner. It was a custom large paper size. The designer really outdid themselves with this innovation.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("el-torero/el-torero-13.jpg", alt: "The blinds at the restaurant.")%>
  <div class="caption">
    <p>The longest row of blinds Chacho has ever seen.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("el-torero/el-torero-14.jpg", alt: "A bag of frozen chicken niblets cooked in a firey wok.")%>
  <div class="caption">
    <p>A bag of frozen chicken niblets cooked in a firey wok.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("el-torero/el-torero-15.jpg", alt: "Electrical outlet in the back booth.")%>
  <div class="caption">
    <p>The booth in the back right is great for charging your device.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("el-torero/el-torero-16.jpg", alt: "The exterior facade.")%>
  <div class="caption">
    <p>The view from the parking lot.</p>
  </div>
</div>
