<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-2.jpg", alt: "They played La Liga on the tv")%>
  <div class="caption">
    <p>Always a good sign when they have TVs with La Liga MX on tap.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-3.jpg", alt: "The chips and salsa")%>
  <div class="caption">
    <p>The best chips and salsa we've had in Nashville to date.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-4.jpg", alt: "The menu at La Hacienda")%>
  <div class="caption">
    <p>Salsa spill</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-5.jpg", alt: "The guacamole")%>
  <div class="caption">
    <p>The guac was very cold, but it was made from fresh ingredients so it was decent. You can only go so far with your guac if you pre-make it and put it in a fridge though.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-6.jpg", alt: "The Gracias mural next to our table")%>
  <div class="caption">
    <p>The gracias mural on the wall at our table.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-7.jpg", alt: "The chicken enchiladas")%>
  <div class="caption">
    <p>Nacho's chicken enchiladas were not as good as <a href="/little-mexico">Little Mexico</a>. His steak taco was seriously dope though.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-8.jpg", alt: "The bistec ranchero")%>
  <div class="caption">
    <p>Just 24 hours before this would wreak havoc on Chacho.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-9.jpg", alt: "Nacho was very pleased with the chips and salsa")%>
  <div class="caption">
    <p>Very satisfied with the chips and salsa.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-10.jpg", alt: "The bathroom")%>
  <div class="caption">
    <p>The men's ba&ntilde;o.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-11.jpg", alt: "The mural in the parking lot.")%>
  <div class="caption">
    <p>If you look closely you'll notice two terrifying giants in this scene.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-12.jpg", alt: "The exterior sign for La Hacienda.")%>
  <div class="caption">
    <p>You can't miss this sign.</p>
  </div>
</div>
