<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-2.jpg", alt: "They played La Liga on the tv")%>
</div>

<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-3.jpg", alt: "The chips and salsa")%>
  <div class="caption">
    <p>The best chips and salsa we've had in Nashville to date</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-4.jpg", alt: "The menu at La Hacienda")%>
</div>

<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-5.jpg", alt: "The guacamole")%>
  <div class="caption">
    <p>You can only go so far with your guac if you pre-make it and put it in a fridge</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-6.jpg", alt: "The Gracias mural next to our table")%>
  <div class="caption">
    <p>The gracias mural on the wall at our table</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-7.jpg", alt: "The chicken enchiladas")%>
  <div class="caption">
    <p>Great steak tacos, but Nacho's chicken enchiladas were not as good as <a href="/little-mexico">Little Mexico</a></p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-8.jpg", alt: "The bistec ranchero")%>
  <div class="caption">
    <p>Just 24 hours before this would wreak havoc on Chacho</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-9.jpg", alt: "Nacho was very pleased with the chips and salsa")%>
  <div class="caption">
    <p>Very satisfied with the chips and salsa</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-10.jpg", alt: "The bathroom")%>
  <div class="caption">
    <p>If R2-D2 was vomiting garbage bags</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-11.jpg", alt: "The mural in the parking lot.")%>
  <div class="caption">
    <p>If you look closely you'll notice two terrifying giants in this scene</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("la-hacienda-obama/la-hacienda-obama-12.jpg", alt: "The exterior sign for La Hacienda.")%>
  <div class="caption">
    <p>Can you imagine a worse place to eat <em>al fresco</em>? (Chacho y Nacho got into a brief argument about the etymology of the term "al fresco" while writing this caption.)</p>
  </div>
</div>
