<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-13.jpg", alt: "Our food")%>
  <p class="caption">
    Unlike us, this guy did not eat at Las Palmas before the Ty Segall show
  </p>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-1.jpg", alt: "The front door")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-2.jpg", alt: "The menu")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-14.jpg", alt: "Our food")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-3.jpg", alt: "the margaritas")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-4.jpg", alt: "Our food")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-5.jpg", alt: "The toilet")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-6.jpg", alt: "The sink in the bathroom")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-7.jpg", alt: "Leftovers")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-8.jpg", alt: "The chips")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-9.jpg", alt: "The salsa")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-10.jpg", alt: "The guacamole")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-15.jpg", alt: "Our food")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-11.jpg", alt: "A queso drip")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-16.jpg", alt: "Our food")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-12.jpg", alt: "View from the Kroger parking lot")%>
</div>
