<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-1.jpg", alt: "The front door")%>
  <div class="caption">
    <p>The front door</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-2.jpg", alt: "The menu")%>
  <div class="caption">
    <p>El menu</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-3.jpg", alt: "the margaritas")%>
  <div class="caption">
    <p>La Margaritas</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-4.jpg", alt: "Our food")%>
  <div class="caption">
    <p>Our food</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-5.jpg", alt: "The toilet")%>
  <div class="caption">
    <p>The toilet</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-6.jpg", alt: "The sink in the bathroom")%>
  <div class="caption">
    <p>The sink in the bathroom</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-7.jpg", alt: "Leftovers")%>
  <div class="caption">
    <p>Leftovers</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-8.jpg", alt: "The chips")%>
  <div class="caption">
    <p>A basket of chips</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-9.jpg", alt: "The salsa")%>
  <div class="caption">
    <p>El salsa</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-10.jpg", alt: "The guacamole")%>
  <div class="caption">
    <p>The guac</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-11.jpg", alt: "A queso drip")%>
  <div class="caption">
    <p>A queso drip</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-12.jpg", alt: "View from the Kroger parking lot")%>
  <div class="caption">
    <p>View from the Kroger parking lot</p>
  </div>
</div>
