<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-1.jpg", alt: "The guac, queso, and salsa")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-2.jpg", alt: "The T-Bone Ranchero")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-3.jpg", alt: "A salsa spill")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-4.jpg", alt: "Queso spill")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-5.jpg", alt: "The menu")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-7.jpg", alt: "Gotta serve Pacifico")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-8.jpg", alt: "The chips")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-9.jpg", alt: "The salsa")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-10.jpg", alt: "Patrons")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-11.jpg", alt: "The Margaritas")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-12.jpg", alt: "Coke glasses")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-13.jpg", alt: "Exterior wall")%>
  <div class="caption">
    <p>You can see the phone number from a mile away.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-14.jpg", alt: "Bathroom sink")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-15.jpg", alt: "The bathroom door.")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-16.jpg", alt: "Slogan on the wall.")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-17.jpg", alt: ">Urinal in the men's bathroom..")%>
</div>

<div class="thumbnail">  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-18.jpg", alt: "Our food")%>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-19.jpg", alt: "A salsa spill")%>
</div>
