<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-1.jpg", alt: "The guac, queso, and salsa")%>
  <div class="caption">
    <p>Trio of dips</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-2.jpg", alt: "The T-Bone Ranchero")%>
  <div class="caption">
    <p>The T Bone Ranchero. This ranchero sauce was excellent.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-3.jpg", alt: "A salsa spill")%>
  <div class="caption">
    <p>Our first salsa spill.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-4.jpg", alt: "Queso spill")%>
  <div class="caption">
    <p>Queso dripping</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-5.jpg", alt: "The menu")%>
  <div class="caption">
    <p>Mexican typography</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-6.jpg", alt: "The ambience")%>
  <div class="caption">
    <p>The ambience.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-7.jpg", alt: "Gotta serve Pacifico")%>
  <div class="caption">
    <p>Pacifico is key.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-8.jpg", alt: "The chips")%>
  <div class="caption">
    <p>Basket of chips</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-9.jpg", alt: "The salsa")%>
  <div class="caption">
    <p>El Salsa</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-10.jpg", alt: "Patrons")%>
  <div class="caption">
    <p>The place was full, but the food was quick.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-11.jpg", alt: "The Margaritas")%>
  <div class="caption">
    <p>Margs</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-12.jpg", alt: "Coke glasses")%>
  <div class="caption">
    <p>Coke sponsored the tap water.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-13.jpg", alt: "Exterior wall")%>
  <div class="caption">
    <p>You can see the phone number from a mile away.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-14.jpg", alt: "Bathroom sink")%>
  <div class="caption">
    <p>The bathroom was on the cleaner side.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-15.jpg", alt: "The bathroom door.")%>
  <div class="caption">
    <p>The bathroom door.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-16.jpg", alt: "Slogan on the wall.")%>
  <div class="caption">
    <p>Slogan on the wall.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-17.jpg", alt: ">Urinal in the men's bathroom..")%>
  <div class="caption">
    <p>Urinal in the men's bathroom.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-18.jpg", alt: "Our food")%>
  <div class="caption">
    <p>A solid entree.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-19.jpg", alt: "A salsa spill")%>
  <div class="caption">
    <p>Another view of the salsa spill.</p>
  </div>
</div>
