<div class="thumbnail">
  <%=image_tag("little-mexico/little-mexico-1.jpg", alt: "The Tables at Little Mexico")%>
  <div class="caption">
    <p>Table</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("little-mexico/little-mexico-2.jpg", alt: "Salsa and guac at Little Mexico")%>
  <div class="caption">
    <p>Salsa and guac</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("little-mexico/little-mexico-3.jpg", alt: "Ford F-150 in the parking lot of Little Mexico")%>
  <div class="caption">
    <p>Nacho's 1994 Ford F-150 is a great vehicle for driving to a Mexican restaurant or job site.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("little-mexico/little-mexico-4.jpg", alt: "The chicken enchiladas")%>
  <div class="caption">
    <p>It was freakin delicious.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("little-mexico/little-mexico-5.jpg", alt: "Guacamole spilled on the table.")%>
  <div class="caption">
    <p>The ranchero music of guacamole.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("little-mexico/little-mexico-6.jpg", alt: "The margarita at this Mexican restaurant")%>
  <div class="caption">
    <p>Average margs</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("little-mexico/little-mexico-7.jpg", alt: "Weird stains on the drop ceiling at Little Mexico")%>
  <div class="caption">
    <p>The ceiling above our booth.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("little-mexico/little-mexico-8.jpg", alt: "The receipt at Little Mexico is impossible to decipher")%>
  <div class="caption">
    <p>No comprende.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("little-mexico/little-mexico-9.jpg", alt: "The men's bathroom at Little Mexico")%>
  <div class="caption">
    <p>The bathroom.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("little-mexico/little-mexico-10.jpg", alt: "The main dining room at Little Mexico")%>
  <div class="caption">
    <p>The main dining room.</p>
  </div>
</div>
