<div class="thumbnail">
  <%=image_tag("rosepepper/rosepepper-2.jpg", alt: "The Menu at Rosepepper")%>
  <div class="caption">
    <p>House Especialades</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("rosepepper/rosepepper-3.jpg", alt: "The chips and guac")%>
  <div class="caption">
    <p>These fat chips are nasty. The chips the server with the salsa are pretty good. The guac is legit.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("rosepepper/rosepepper-4.jpg", alt: "Our crumpled up napkins")%>
  <div class="caption">
    <p>Our evening's contributions to the local landfill.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("rosepepper/rosepepper-5.jpg", alt: "The chips and trio of salsas at Rosepepper")%>
  <div class="caption">
    <p>The ranchero music of salsa.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("rosepepper/rosepepper-6.jpg", alt: "Chacho's receipt")%>
  <div class="caption">
    <p>CHACHO.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("rosepepper/rosepepper-7.jpg", alt: "Nacho's receipt")%>
  <div class="caption">
    <p>NACHO</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("rosepepper/rosepepper-8.jpg", alt: "Another view of the chips and guac")%>
  <div class="caption">
    <p>Nacho's damn finger got in the way</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("rosepepper/rosepepper-9.jpg", alt: "Rosepepper's cool neon sign")%>
  <div class="caption">
    <p>Rosepepper means "Christmas berry."</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("rosepepper/rosepepper-10.jpg", alt: "The bar at Rosepepper")%>
  <div class="caption">
    <p>The bar looks like this after two margaritas.</p>
  </div>
</div>

<div class="thumbnail">
  <%=image_tag("rosepepper/rosepepper-11.jpg", alt: "The Rosepepper margaritas")%>
  <div class="caption">
    <p>Rosepepper's margaritas, the single best liquid or solid we've consumed on this journey thus far.</p>
  </div>
</div>
