<% provide(:title, "About Basket of Chips") %>

<section class="about">
  <div class="row">
    <div class="col-md-7">
      <h1>Frequently Asked Preguntas</h1>
      <h2>What In the Hell Are You Guys Doing?</h2>
      <p id="sergio-leone">We are visiting every Mexican restaurant in Davidson county and rating their house margarita, chips and salsa. We are also occasionally discussing the guacamole. The overall winner (best combined chips, salsa, house margarita, food and ba&ntilde;os) will receive the coveted <a href="http://en.wikipedia.org/wiki/Sergio_Leone">Sergio Leone Memorial Golden Basket</a>. Check out the full rankings <a href="/rankings">here</a>.</p>

      <h2>Who are you?</h2>
      <p>We are Chacho and Nacho. Chacho has probably eaten more carnitas than anybody in Middle Tennesse and makes a good chile verde. Nacho knows his way around a bowl of guacomole. Neither of us have ever been to Mexico. Chacho has a post-graduate degree, while Nacho has a continuing education credit for "Introduction to HTML."</p>

      <h2>How does the rating system work?</h2>
      <p>We use a 5-point decimal system. We rate the chips &amp; salsa on a 5-chip scale. We rate the margaritas on a 5-lime scale. We also put each restaurant into overall <a href="/rankings">rankings</a>.</p>

      <h2>What is your policy on chain restaurants?</h2>
      <p>We're not required to visit each branch in a chain, but we are required to visit at least one. The only rule is that the place must serve margaritas as well as chips &amp; salsa.</p>

      <h2>Can I join you on your next outing?</h2>
      <p>Yes. We invite everyone on our mailing list to each outing. Sign up <a href="http://eepurl.com/bbWfVX">here</a>.</p>

      <h2>Do you rate fast food establishments?</h2>
      <p>Bitch, I might.</p>

      <h2>Why are you not rating the queso?</h2>
      <p>I don't know.</p>

      <h2>Who is Mr. Aguila?</h2>
      <p>Nacho's 1994 Ford F-150, manual transmission, broken radio from the time Nacho poured a half grande of Starbucks coffee in it (we use a black <a href="http://www.amazon.com/JAMBOX-Jawbone-Wireless-Bluetooth-Speaker/dp/B00DVKORX2">Jawbone Jambox Mini</a> instead).</p>

      <h2>What is El Abismo?</h2>
      <p>Chacho's Black 2005 4Runner</p>

      <h2>Likes</h2>
      <p><strong>Chacho</strong></p>
      <ul>
        <li>Supper</li>
        <li>Overalls</li>
        <li>Golf</li>
        <li>Country music</li>
        <li>This website</li>
        <li>Mexican Coke</li>
        <li>Pizza</li>
        <li>A country breakfast</li>
      </ul>

      <p><strong>Nacho</strong></p>
      <ul>
        <li>Comcast</li>
        <li>Coveralls</li>
        <li>Newcastle (the toon and FC)</li>
        <li>Pizza</li>
        <li>Announcing that I would rather be hot than cold</li>
        <li>Grits</li>
      </ul>

      <h2>Dislikes</h2>
      <p><strong>Chacho</strong></p>
      <ul>
        <li>Portabello mushrooms</li>
        <li>Hot weather</li>
        <li>Commercials</li>
      </ul>
      <p><strong>Nacho</strong></p>
      <ul>
        <li>That song, "The Lion Sleeps Tonight"</li>
        <li>That Mumford &amp; Sons song where they say "I'm gonna make this house a home"</li>
      </ul>
    </div>

    <div class="col-md-5 about-photos">
      <div class="thumbnail">
        <%=image_tag("about/chacho.jpg", alt: "A picture of Chacho")%>
        <div class="caption">
          <p>Chacho</p>
        </div>
      </div>

      <div class="thumbnail">
        <%=image_tag("about/nacho.jpg", alt: "A picture of Nacho")%>
        <div class="caption">
          <p>Nacho</p>
        </div>
      </div>

      <div class="thumbnail">
        <%=image_tag("about/mr-aguila-con-4runner.jpg", alt: "We use these vehicles to drive to Mexican restaurants in Davidson county")%>
        <div class="caption">
          <p>From left, a vehicle that looks like Chacho's "El Abismo" and <a href="/mr-aguila">Mr. Aguila</a></p>
        </div>
      </div>

      <div class="thumbnail">
        <%=image_tag("about/our-creed.png", alt: "Our creed: Give Bad Food the Boot")%>
        <div class="caption">
          <p>One of our many creeds</p>
        </div>
      </div>

      <div class="thumbnail">
        <%=image_tag("about/dwight-yoakam-pants.jpg", alt: "Nacho's Dwight Yoakam pants")%>
        <div class="caption">
          <p>Nacho's Dwight Yoakam pants</p>
        </div>
      </div>

      <div class="thumbnail">
        <p><iframe src="//player.vimeo.com/video/82728631?title=0&byline=0&portrait=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
        <div class="caption">
          <p>Mr. Aguila in action</p>
        </div>
      </div>

    </div>
  <div>
</section>
