<% provide(:title, "The Men's Bathrooms of Nashville's Mexican Restaurants") %>

<h1>&#191;D&oacute;nde esta el ba&ntilde;o?</h1>

<div class="container">
  <section class="photos">
    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <a href="/chuys-midtown">
            <%=image_tag("chuys-midtown/chuys-midtown-bathroom.jpg", alt: "The Bathroom at Chuy's in Midtown Nashville")%>
          </a>
          <div class="caption">
            <p><a href="/chuys-midtown">Chuy's Midtown</a></p>
          </div>
        </div><!-- /.thumbnail -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-6">
        <div class="thumbnail">
            <a href="/cinco-de-mayo-cummins-station">
              <%=image_tag("cinco-de-mayo-cummins-station/cinco-de-mayo-cummins-station-bathroom.jpg", alt: "The Bathroom at Cinco de Mayo in Cummins Station")%>
            </a>
          <div class="caption">
            <p><a href="/cinco-de-mayo-cummins-station">Cinco de Mayo inside Cummins Station</a></p>
          </div>
        </div><!-- /.thumbnail -->
      </div><!-- /.col-md-6 -->
    </div> <!-- /.row -->

    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <a href="/las-maracas-family-dollar-1184">
            <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-bathroom.jpg", alt: "The Bathroom at Las Maracas next to Family Dollar in East Nashville")%>
          </a>
          <div class="caption">
            <p><a href="/las-maracas-family-dollar-1184">Las Maracas next to Family Dollar #1184</a></p>
          </div>
        </div><!-- /.thumbnail -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-6">
        <div class="thumbnail">
          <a href="/las-palmas-franklin-rd">
            <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-bathroom.jpg", alt: "The Bathroom at Las Palmas Franklin Road")%>
          </a>
          <div class="caption">
            <p><a href="/las-palmas-franklin-rd">Las Palmas on Franklin Road</a></p>
          </div>
        </div><!-- /.thumbnail -->
      </div><!-- /.col-md-6 -->
    </div> <!-- /.row -->

    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <a href="/el-torero">
            <%=image_tag("el-torero/el-torero-bathroom.jpg", alt: "The Bathroom at El Torero")%>
          </a>
          <div class="caption">
            <p><a href="/el-torero">El Torero</a></p>
          </div>
        </div><!-- /.thumbnail -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-6">
        <div class="thumbnail">
          <a href="/rosepepper">
            <%=image_tag("rosepepper/rosepepper-bathroom.jpg", alt: "The Bathroom at Rosepepper")%>
          </a>
          <div class="caption">
            <p><a href="/rosepepper">Rosepepper</a></p>
          </div>
        </div><!-- /.thumbnail -->
      </div><!-- /.col-md-6 -->
    </div> <!-- /.row -->

    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <a href="/little-mexico">
            <%=image_tag("little-mexico/little-mexico-bathroom.jpg", alt: "The Bathroom at Little Mexico")%>
          </a>
          <div class="caption">
            <p><a href="/little-mexico">Little Mexico</a></p>
          </div>
        </div><!-- /.thumbnail -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-6">
        <div class="thumbnail">
          <a href="/la-hacienda-obama">
            <%=image_tag("la-hacienda-obama/la-hacienda-obama-bathroom.jpg", alt: "The Bathroom at La Hacienda")%>
          </a>
          <div class="caption">
            <p><a href="/la-hacienda-obama">La Hacienda</a></p>
          </div>
        </div> <!-- /.thumbnail -->
      </div> <!-- /.col-md-6 -->
    </div> <!-- /.row -->

    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <a href="/chilis-west-end">
            <%=image_tag("chilis-west-end/chilis-west-end-bathroom.jpg", alt: "The Bathroom at Chili's on West End")%>
          </a>
          <div class="caption">
            <p><a href="/chilis-west-end">Chili's on West End</a></p>
          </div>
        </div><!-- /.thumbnail -->
      </div><!-- /.col-md-6 -->

  </section>
</div> <!-- /.container -->
