<h1>&#191;D&oacute;nde esta el ba&ntilde;o?</h1>

<div class="container">
  <section class="photos">
    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-bathroom.jpg", alt: "The Bathroom at El Torero")%>
          <div class="caption">
            <p>Cinco de Mayo inside Cummins Station</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-bathroom.jpg", alt: "The Bathroom at El Torero")%>
          <div class="caption">
            <p>El Torero</p>
          </div>
        </div>
      </div>
    </div> <!-- /.row -->

    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-bathroom.jpg", alt: "The Bathroom at El Torero")%>
          <div class="caption">
            <p>Las Maracas next to Family Dollar #1184</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-bathroom.jpg", alt: "The Bathroom at El Torero")%>
          <div class="caption">
            <p>Las Palmas on Franklin Road</p>
          </div>
        </div>
      </div>
    </div> <!-- /.row -->

    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-bathroom.jpg", alt: "The Bathroom at El Torero")%>
          <div class="caption">
            <p>Little Mexico</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-bathroom.jpg", alt: "The Bathroom at El Torero")%>
          <div class="caption">
            <p>Rose Pepper</p>
          </div>
        </div>
      </div>
    </div> <!-- /.row -->

  </section>
</div> <!-- /.container -->
