<h1>&#191;D&oacute;nde esta el ba&ntilde;o?</h1>

<div class="container">
  <section class="photos">
    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <%=image_tag("chuys-midtown/chuys-midtown-bathroom.jpg", alt: "The Bathroom at Chuy's in Midtown Nashville")%>
          <div class="caption">
            <p>Chuy's Midtown</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="thumbnail">
          <%=image_tag("cinco-de-mayo-cummins/cinco-de-mayo-cummins-bathroom.jpg", alt: "The Bathroom at Cinco de Mayo in Cummins Station")%>
          <div class="caption">
            <p>Cinco de Mayo inside Cummins Station</p>
          </div>
        </div>
      </div>
    </div> <!-- /.row -->

    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <%=image_tag("las-maracas-family-dollar/las-maracas-family-dollar-bathroom.jpg", alt: "The Bathroom at Las Maracas next to Family Dollar in East Nashville")%>
          <div class="caption">
            <p>Las Maracas next to Family Dollar #1184</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="thumbnail">
          <%=image_tag("las-palmas-franklin-rd/las-palmas-franklin-rd-bathroom.jpg", alt: "The Bathroom at Las Palmas Franklin Road")%>
          <div class="caption">
            <p>Las Palmas on Franklin Road</p>
          </div>
        </div>
      </div>
    </div> <!-- /.row -->

    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-bathroom.jpg", alt: "The Bathroom at El Torero")%>
          <div class="caption">
            <p>The bathroom at El Torero</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="thumbnail">
          <%=image_tag("rosepepper/rosepepper-bathroom.jpg", alt: "The Bathroom at Rosepepper")%>
          <div class="caption">
            <p>Rosepepper</p>
          </div>
        </div>
      </div>
    </div> <!-- /.row -->

    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <%=image_tag("little-mexico/little-mexico-bathroom.jpg", alt: "The Bathroom at Little Mexico")%>
          <div class="caption">
            <p>Little Mexico</p>
          </div>
        </div>
      </div>
    </div> <!-- /.row -->

  </section>
</div> <!-- /.container -->
