<div class="jumbotron chuys-midtown-banner">
  <div class="container">
    <h1>Chuy's <small>&#x20b1; &#x20b1; &#x20b1;</small></h1>
    <h2>Go down Broadway and look for the frogs in bikinis</h2>
  </div>
</div>

<div class="container">
  <section class="intro">
    <div class="row">
      <div class="col-md-8">
        <p>It was a Sunday night and we had just finished up a session of <a href="http://gethiphopabs.com">Hip Hop Abs</a> so we headed down to Chuy's in Midtown for some Mexican food.</p>

        <p>The decor and music were louder than hell. When we arrived it sounded like a dance party at <a href="http://www.belk.com">Belk</a>. Fifteen minutes later, the music took a turn for the worse, seguing into a techno rave at the Rivergate <a href="http://footlocker.com">Footlocker</a>.</p>
        <p>Chacho got an infrared laser thermometer for Christmas, so we measured everything, starting with the valet stand outside. The salsa wasn't great, but it's edible so long as you like it to be the same temperature as a valet stand in January.</p>
      </div>

      <div class="col-md-4">
        <p><strong>Chips and Salsa:</strong> 3<br>
          The salsa was just not very good. The chips were thin, so there was that.</p>
        <p><strong>House Margarita:</strong> 3.5<br>
          Pretty good. No sweet and sour. Real lime juice.</p>
        <p><strong>&iquest; Si or No?</strong> Si.</p>
      </div>
    </div>
  </section>

  <section class="tips">
    <div class="row">
      <div class="col-md-8">
        <h3>Nacho's Tip</h3>
        <p>Place your order, pop in an earbud, and turn on the live version of "The Low Spark of High Heeled Boys" by Traffic. Your food will arrive just as Nashville native, Steve Winwood, hits his last note. In fact Steve Winwood was probably the first to try out this life hack.</p>

        <h3>Chacho's Truth</h3>
        <ul>
          <li>The salsa and valet stand were both 48&deg; F.</li>
          <li>Tex-Mex Fajitas for One: 400&deg; F</li>
          <li>In 1998 Juvenile had a record called <a href="http://en.wikipedia.org/wiki/400_Degreez">400 Degreez</a>. It went platinum four times and featured the hit single "Back That Azz Up".</li>
          <li>Guacamole: 57&deg; F</li>
          <li>Margarita: 29&deg; F</li>
          <li>You can't just snap your fingers and solve every problem. You gotta get your hands dirty.</li>
        </ul>
      </div>

      <div class="col-md-4 well">
        <p>
          <strong>What Chacho Said</strong><br>
          "<em>Well I missed Christmas. Came down with the flu for the first time ever so I called the news to let them know what happened. They sent a camera crew down and interviewed me while I laid in bed sweating, fully clothed.</em>"
        </p>
        <br>
        <p>
          <strong>What Nacho Said</strong><br>
          "<em>Have you ever had a Mexican Coca-Cola?</em>"
        </p>
      </div>
    </div>
  </section>

  <section class="photos">
    <div class="row">
      <div class="col-md-8">
        <div class="thumbnail">
          <%=image_tag("chuys-midtown/chuys-midtown-1.jpg", alt: "The neon sign outside of Chuy's in Midtown Nashville.")%>
          <div class="caption">
            <p>Mexican food the way Vanderbilt undergrads like it.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("chuys-midtown/chuys-midtown-2.jpg", alt: "Dancing frogs in bikins don the roof at Chuy's in Midtown Nashville.")%>
          <div class="caption">
            <p>If you like this, there's more inside.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("chuys-midtown/chuys-midtown-3.jpg", alt: "Our booth in the back")%>
          <div class="caption">
            <p>Chacho's new <a href="http://www.amazon.com/Etekcity-Lasergrip-Digital-Infrared-Thermometer/dp/B00837ZGRY">Etekcity Lasergrip 774 (ETC 8380) Digital Infrared (IR) Thermometer with Laser Sight</a> determined that his margarita was a cool 29&deg;F. He must have pointed it right at an ice cube.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("chuys-midtown/chuys-midtown-4.jpg", alt: "The Men's bathroom at Chuy's Mexican restuarant in Nashville.")%>
          <div class="caption">
            <p>The men's ba&ntilde;o. Note the changing table. The floor tile here was also on the exterior of <a href="/el-torero">El Torero</a>.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("chuys-midtown/chuys-midtown-5.jpg", alt: "Our booth seating at Chuy's")%>
          <div class="caption">
            <p>Chacho demanded they give us a booth.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("chuys-midtown/chuys-midtown-6.jpg", alt: "The valet stand at Chuy's")%>
          <div class="caption">
            <p>View from the valet stand.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("chuys-midtown/chuys-midtown-7.jpg", alt: "Tile floor at the entrance of Chuy's")%>
          <div class="caption">
            <p>Nacho was fond of this tile at the entrance.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("chuys-midtown/chuys-midtown-8.jpg", alt: "Another view of the men's bathroom")%>
          <div class="caption">
            <p>#selfiesunday</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("chuys-midtown/chuys-midtown-9.jpg", alt: "The margaritas")%>
          <div class="caption">
            <p>The creamy jalape&ntilde;o sauce was disgusting. You'll love it if you like to dip your enchiladas into Hidden Valley Ranch.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("chuys-midtown/chuys-midtown-10.jpg", alt: "The drink menu at Chuy's")%>
          <div class="caption">
            <p>Add a floater for only $2.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("chuys-midtown/chuys-midtown-11.jpg", alt: "The menu")%>
          <div class="caption">
            <p>Chacho spilled salsa on this hipster-goes-mainstream menu design circa 2013.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("chuys-midtown/chuys-midtown-12.jpg", alt: "Prayers for every faith appear on their silverware wrapper.")%>
          <div class="caption">
            <p>Chacho was struck by the Jewish prayer.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("chuys-midtown/chuys-midtown-13.jpg", alt: "The margaritas at Chuy's")%>
          <div class="caption">
            <p>One time Chacho tried to order hummus at a pizza restaurant.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("chuys-midtown/chuys-midtown-14.jpg", alt: "A bunch of salsas")%>
          <div class="caption">
            <p>Get that Tex-Mex sauce top left, Ni&ntilde;o!</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("chuys-midtown/chuys-midtown-15.jpg", alt: "A bunch of salsas")%>
          <div class="caption">
            <p>God bless America.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("chuys-midtown/chuys-midtown-16.jpg", alt: "The guacamole and sour cream came pre-scooped with an ice cream scoop")%>
          <div class="caption">
            <p>Kinda looks like the Mexican flag?</p>
          </div>
        </div>

        <div class="thumbnail">
          <iframe width="640" height="480" src="//www.youtube.com/embed/x3M8Sk7X51k?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          <div class="caption">
            <p>Live version of "The Low Spark of High Heeled Boys" by Traffic</p>
          </div>
        </div>

        <div class="thumbnail">
          <iframe width="640" height="480" src="//www.youtube.com/embed/WurVaVEoB70?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          <div class="caption">
            <p>What is going down on this episode of "Walker Texas Ranger"?</p>
          </div>
        </div>

      </div>
    </div>
  </section>
</div> <!-- /container -->
