<div class="jumbotron cinco-de-mayo-cummins-station-banner">
  <div class="container">
    <h1>Cinco de Mayo Cummins Station <small>&#x20b1; &#x20b1;</small></h1>
    <h2>Inside Cummins Station</h2>
  </div>
</div>

<div class="container">
  <section class="intro">
    <div class="row">
      <div class="col-md-8">
        <p>It was Christmastime, so we felt the need to go to Christmas Berry. Better known as eastern Nashville's <a href="http://cinco-de-mayo-cummins-station.com/">cinco-de-mayo-cummins-station Cantina</a>. (A Rosepper is a Mexican Christmas <a href="http://en.wikipedia.org/wiki/Schinus_terebinthifolius">berry</a>.) Killer Margs. Dope Carniatas. The best chips we've had yet.</p>
        <p>Chacho and nacho both had the carnitas. Reader one thing you should know, Chacho's had more Carnitas than practically anyone in Middle Tennesse. These are good.</p>
      </div>

      <div class="col-md-4">
        <p>
          <strong>Chips and Salsa:</strong> 4.5<br>
          Nearly perfect if not for Chacho's childish reservations.
        </p>
        <p>
          <strong>House Margarita:</strong> 4.5<br>
          'Cuase nobody's perfect.
        </p>
        <p><strong>&iquest; Si or No?</strong> Si, dumbass.</p>
      </div>
    </div>
  </section>

  <section class="tips">
    <div class="row">
      <div class="col-md-8">
        <h3>Nacho's Tip</h3>
        <p>I know you want to put chips into your mouth every second you're at a Mexican restaurant, but if you have issues like me, after you finish your first basket just break off tiny portions and dip it in the salsa. Your boca will never know you didn't eat a full chip!</p>
      </p>

        <h3>Chacho's Truth</h3>
        <ul>
          <li>Pay attention to your corn tortillas. They are the critic's pick for the best part of the meal.</li>
          <li>Cool neon sign inside</li>
          <li>The guac is fresh and tasty, but Chacho's not trying to mess with those big ass pillowy chip thingy's in it.</li>
          <li>Your attitude is the most important part of your day.</li>
        </ul>
      </div>

      <div class="col-md-4 well">
        <p>
          <strong>What Chacho Said</strong><br>
          "<em>The chips and salsa arrive first scoring 4.5 out of five baskets of chips. The trio of salsas features delicious tomatillo salsa as well as a medium and hot traditional salsa. There were current list of restaurants a short the margaritas at cinco-de-mayo-cummins-station are peerless. They are delicious.</em>"
        </p>
        <br>
        <p>
          <strong>What Nacho Said</strong><br>
          "<em>Steam bludgeoned my face as I removed the soft corn tortillas from their foil wrapping. (Chacho Interjecting Here: Nacho got pretty pumped about his meal arriving.) The vibe is good but the soundtrack is Brooklyn 2010 + Seven Nation Army. Which is cool if you were especially into that year. If you're really into that year then you'll have a blast in this Mexican ristorante.</em>"
        </p>
      </div>
    </div>
  </section>

  <section class="photos">
    <div class="row">
      <div class="col-md-8">
        <div class="thumbnail">
          <%=image_tag("cinco-de-mayo-cummins-station/cinco-de-mayo-cummins-station-1.jpg", alt: "The margarita")%>
          <div class="caption">
            <p>Typical Ranchero Juice</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("cinco-de-mayo-cummins-station/cinco-de-mayo-cummins-station-2.jpg", alt: "Salsa, guacamole, and queso dip")%>
          <div class="caption">
            <p>The trinity–salsa, guac, and queso</p>
          </div>
        </div>

        <div class="thumbnail">
            <%=image_tag("cinco-de-mayo-cummins-station/cinco-de-mayo-cummins-station-3.jpg", alt: "Queso spilled on the menu at Cinco de Mayo Cummins Station")%>
          <div class="caption">
            <p>Queso spill!</p>
          </div>
        </div>

        <div class="thumbnail">          <%=image_tag("cinco-de-mayo-cummins-station/cinco-de-mayo-cummins-station-4.jpg", alt: "The chips and salsa")%>
          <div class="caption">
            <p>Standard faire.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("cinco-de-mayo-cummins-station/cinco-de-mayo-cummins-station-5.jpg", alt: "The Riunite Margarita at Cinco de Mayo")%>
          <div class="caption">
            <p>Chacho's been doing this for a long ass time.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("cinco-de-mayo-cummins-station/cinco-de-mayo-cummins-station-6.jpg", alt: "The bathroom at Cinco de Mayo Cummins Station")%>
          <div class="caption">
            <p>Nacho had a blast shooting this bathroom.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("cinco-de-mayo-cummins-station/cinco-de-mayo-cummins-station-7.jpg", alt: "The bar at Cinco de Mayo")%>
          <div class="caption">
            <p>The Bar</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("cinco-de-mayo-cummins-station/cinco-de-mayo-cummins-station-8.jpg", alt: "Coors light sign on the exterior wall of Cinco de Mayo")%>
          <div class="caption">
            <p>Coors Light sign out front</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("cinco-de-mayo-cummins-station/cinco-de-mayo-cummins-station-9.jpg", alt: "cinco-de-mayo-cummins-station's cool neon sign")%>
          <div class="caption">
            <p>This is a very accurate rendering of the margarita they serve.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("cinco-de-mayo-cummins-station/cinco-de-mayo-cummins-station-10.jpg", alt: "The booths ast cinco de mayo")%>
          <div class="caption">
            <p>Beautiful booths.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> <!-- /container -->
