<% provide(:title, "Review of Cinco de Mayo in Cummins Station in Nashville") %>

<div class="jumbotron cinco-de-mayo-cummins-station-banner">
  <div class="container">
    <h1>Cinco de Mayo, Cummins Station <small>&#x20b1; &#x20b1;</small></h1>
    <h2>Inside Cummins Station</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 main-col">
      <section class="intro">
        <p class="lead">If we were selected to perform at the halftime of the Super Bowl, here's what'd we do...</p>
        <p>The set is the streets of Bakersfield, CA. Cue the iconic "Welcome to Bakersfield" sign. Nacho rides out in the back of <a href="/mr-aguila">Mr. Aguila</a> wearing his Dwight Yoakam jeans and trademark '97 Levi's denim jacket. He launches into the riff from Yoakam's classic "<a href="http://youtu.be/gdoSLeYgkAI">Fast as You</a>." Cut to Chacho in the spotlight standing right above the "B" in Bakersfield. Chacho starts agressively air strumming his <a href="http://www.ovationguitars.com/custom/usa-signature/melissa-etheridge-signature-w597-meii-white-pearl-mid-depth-cutaway-w-case/">'98 Melissa Ethridge Ovation</a>.</p>

        <p>TL;DR For the grande finale Nacho joins Chacho on top of the sign where they attempt a Garth-Brooks-Standing-Outside-the-Fire-Tour guitar smash. Chacho falls off the Bakersfield sign. The crowd is horrified.</p>
      </section>

      <section class="nachos-tip">
        <h3>Nacho's Tip</h3>
        <p>Do not give your phone number away to any business. There are pretty much only two unique strings that data aggregation services can use to identify you–your social security number and your phone number.</p>
      </section>

      <section class="chachos-truth">
        <h3>Chacho's Truth</h3>
        <ul>
          <li>Congratulations to 2015 NFL Hall of Fame inductee, Mick Tinglehoff</li>
          <li>We were amazed when we discovered that Pitchfork gave <em>Yankee Hotel Foxtrot</em> a 10</li>
          <li>We call them weak, who are unable to resist the slightest chance love might exist and for that forsake it all</li>
        </ul>
      </section>

      <section class="photos">
        <div class="row garth">
          <div class="col-sm-4">
            <div class="thumbnail">
              <%=image_tag("cinco-de-mayo-cummins-station/garth-gif.gif", alt: "Garth Brooks guitar smashing")%>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="thumbnail">
              <%=image_tag("cinco-de-mayo-cummins-station/garth-2.jpg", alt: "Garth Brooks action shot 2")%>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="thumbnail">
              <%=image_tag("cinco-de-mayo-cummins-station/garth-1.jpg", alt: "Garth Brooks action shot 1")%>
            </div>
          </div>
        </div>
        <%= render "posts/photos/cinco_de_mayo_cummins_station_photos" %>
      </section>
    </div><!-- /.main-col -->

    <div class="sidebar col-sm-3 col-sm-offset-1">
      <section class="ratings">
        <p>
          <strong>Chips and Salsa</strong><br>
          <em>2 out of 5 chips</em><br>
          We think it was a 2, but we can't remember. We just know they weren't that good.
        </p>
        <p>
          <strong>House Margarita</strong><br>
          <em>2 out of 5 limes</em><br>
          Standard Ranchero juice
        </p>
        <p><strong>Si or No?</strong><br>
        <em>No.</em><br>
        We only recommend coming here if you work in Cummins Station and forgot your lunch.
      </p>
      </section>


      <section class="quotes well">
        <p>
          <strong>What Chacho Said</strong><br>
          "<em><a href="https://www.youtube.com/watch?v=T0_zzCLLRvE">Feel the rhythm with your hands. Steal the rhythm while you can, Spoonman</a>.</em>"
        </p>
        <br>
        <p>
          <strong>What Nacho Said</strong><br>
          "<em>Don't be fooled by those <em>bike lanes</em> where they just draw a picture of a cyclist in the middle of the road.</em>"
        </p>
      </section>

      <%= render "posts/mailchimp" %>
      <hr>
      <%= render "posts/disqus" %>

    </div><!-- /.sidebar -->

  </div><!-- /.row -->
</div><!-- /.container -->
