<div class="jumbotron la-hacienda-banner">
  <div class="container">
    <h1>La Hacienda <small>&#x20b1; &#x20b1;</small></h1>
    <h2>When you pass the huge cash title and loans place on Nolensville start looking. If you get lost ask Barack Obama for directions. </h2>
  </div>
</div>

<div class="container">
  <section class="intro">
    <div class="row">
      <div class="col-md-8">
        <p>Chacho and Nacho here. We're typing this from Nacho's brand new <a href="http://www.amazon.com/Sm-g900v-Sm-g900t-Sm-g900a-Sm-g900p-Sm-g900r4/dp/B00JLKUSAM">Samsung SM-G900V Galaxy S5</a>. We had a serious language barrier with our waiter at this place, so much so that Chacho must have ordered The Poison Bistec Ranchero instead of the regular Bistec Ranchero. While eating it he said "This is the best thing I've ever consumer," only to be consumed by a debilately stomach bug the next day. The onions were the only identifiable object from La Hacienda in his vomit.</p>
      <p>In fact he was so put out that Nacho had to bring over 3 large Gatorades and a large Sprite.</p>

      <p>Both of us agree that Citrus Cooler is by far the best Gatorade flavor. You might remember that Michael Jordan was fond of it in the 90s. It really tastes more like Oranges than the actual Orange flavor, and apparently Chacho also likes red and blue reminds him of summer days on the golf course. Nacho considered buying Fierce Melon too, but felt that was too much of a gamble. Anyhoo, La Hacienda was very good, even if Nacho did come down with the norovirus the day after we ate there.</p>
      </div>

      <div class="col-md-4">
        <p><strong>Chips and Salsa:</strong> 4.5<br>
          The only reason this is not a 5 is we need to leave room for the chips and salsa at Campos on Pico in Santa Monica. Once you've had that, you know a true 5.</p>
        <p><strong>House Margarita:</strong> 3.5<br>
          Eh. Standard Ranchro juice. They used the iced tea glasses so that's a plus. Also there was real fruit in there, but it seemed to be made from a mix.</p>
        <p><strong>&iquest; Si or No?</strong> Si.</p>
      </div>
    </div>
  </section>

  <section class="tips">
    <div class="row">
      <div class="col-md-8">
        <h3>Nacho's Tip</h3>
        <p>
          Go to the booth in the far back right if you need to charge your device. There's a half-uncovered electrical outlet on level with the seat.</p>
        </p>

        <h3>Chacho's Truth</h3>
        <ul>
          <li>Guac is the standard blender guac they leave in the fridge.</li>
          <li>This place has extremely small portions of beans and rice.</li>
          <li>Nacho was ecstatic when Taylor Swift's "Shake it Off" came on the radio in the kitchen. The dining room had traditional ranchero music, which says a lot for ranchero music.</li>
          <li>The chips, menus, and tortillas are unnecessarily large.</li>
          <li>The menus have little Hunts tomato and Land O'Lakes logos on them for no apparent reason.</li>
          <li>We forgot to time it but per usual food came out really fast.</li>
          <li>They pay $21 per square foot in rent.</li>
          <li>This establishment serves Cherry Coke and milkshakes.</li>
          <li>The basket for the chips looks like they bought it at a church supply store.</li>
          <li>Don't eat at Mexican restaurants that have woks.</li>
          <li>You can't hack your life.</li>
        </ul>
      </div>

      <div class="col-md-4 well">
        <p>
          <strong>What Chacho Said</strong><br>
          "<em>The windows had the longest consecutive strand of blinds I've ever seen.</em>"
        </p>
        <br>
        <p>
          <strong>What Nacho Said</strong><br>
          "<em>We talked shit about the food the whole meal but we finished the guac, cleaned our plates, ate the basket of chips, and went in for a salsa refill.</em>"
        </p>
      </div>
    </div>
  </section>

  <section class="photos-and-comments">
    <div class="row">
      <div class="col-md-8">
        <div class="thumbnail">
          <%=image_tag("la-hacienda/la-hacienda-1.jpg", alt: "The interior at La Hacienda on Nolensville Road")%>
          <div class="caption">
            <p>Folks were not happy with Chacho taking photos</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("la-hacienda/la-hacienda-2.jpg", alt: "They played La Liga on the tv")%>
          <div class="caption">
            <p>Always a good sign when they have TVs with La Liga MX on tap</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("la-hacienda/la-hacienda-3.jpg", alt: "The chips and salsa")%>
          <div class="caption">
            <p>The best chips and salsa we've had in Nashville to date.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("la-hacienda/la-hacienda-4.jpg", alt: "The menu at La Hacienda")%>
          <div class="caption">
            <p>Salsa spill</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("la-hacienda/la-hacienda-5.jpg", alt: "The guacamole")%>
          <div class="caption">
            <p>The guac was very cold, but it was made from fresh ingredients so it was decent. You can only go so far with your guac if you pre-make it and put it in a fridge though.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("la-hacienda/la-hacienda-6.jpg", alt: "The Gracias mural next to our table")%>
          <div class="caption">
            <p>The gracias mural on the wall at our table.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("la-hacienda/la-hacienda-7.jpg", alt: "The chicken enchiladas")%>
          <div class="caption">
            <p>Nacho's chicken enchiladas were not as good as <a href="/little-mexico">Little Mexico</a>. His steak taco was seriously dope though.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("la-hacienda/la-hacienda-8.jpg", alt: "The bistec ranchero")%>
          <div class="caption">
            <p>Just 24 hours before this would wreak havoc on Chaco.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("la-hacienda/la-hacienda-9.jpg", alt: "Nacho was very pleased with the chips and salsa")%>
          <div class="caption">
            <p>Very satisfied with the chips and salsa.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("la-hacienda/la-hacienda-10.jpg", alt: "The bathroom")%>
          <div class="caption">
            <p>The men's ba&ntilde;o.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("la-hacienda/la-hacienda-11.jpg", alt: "The mural in the parking lot.")%>
          <div class="caption">
            <p>If you look closely you'll notice two terrifying giants in this scene.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("la-hacienda/la-hacienda-12.jpg", alt: "The exterior sign for La Hacienda.")%>
          <div class="caption">
            <p>You can't miss this sign.</p>
          </div>
        </div>
      </div><!-- /.col-md-8 -->

      <div class="col-md-4">
        <%= render "posts/disqus" %>
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </section>
</div> <!-- /container -->
