<div class="jumbotron little-mexico-banner">
  <div class="container">
    <h1>Little Mexico <small>&#x20b1; &#x20b1;</small></h1>
    <h2>Go out the backdoor of the Country Music Hall of Fame. It's almost underneath the Omni</h2>
  </div>
</div>

<div class="container">
  <section class="intro">
    <div class="row">
      <div class="col-md-8">
        <p>It was Christmastime, so we felt the need to go to Christmas Berry. Better known as eastern Nashville's <a href="http://little-mexico.com/">little-mexico Cantina</a>. (A Rosepper is a Mexican Christmas <a href="http://en.wikipedia.org/wiki/Schinus_terebinthifolius">berry</a>.) Killer Margs. Dope Carniatas. The best chips we've had yet.</p>
        <p>Chacho and nacho both had the carnitas. Reader one thing you should know, Chacho's had more Carnitas than practically anyone in Middle Tennesse. These are good.</p>
      </div>

      <div class="col-md-4">
        <p>
          <strong>Chips and Salsa:</strong> 4.5<br>
          Nearly perfect if not for Chacho's childish reservations.
        </p>
        <p>
          <strong>House Margarita:</strong> 4.5<br>
          'Cuase nobody's perfect.
        </p>
        <p><strong>&iquest; Si or No?</strong> Si, dumbass.</p>
      </div>
    </div>
  </section>

  <section class="tips">
    <div class="row">
      <div class="col-md-8">
        <h3>Nacho's Tip</h3>
        <p>I know you want to put chips into your mouth every second you're at a Mexican restaurant, but if you have issues like me, after you finish your first basket just break off tiny portions and dip it in the salsa. Your boca will never know you didn't eat a full chip!</p>
      </p>

        <h3>Chacho's Truth</h3>
        <ul>
          <li>Pay attention to your corn tortillas. They are the critic's pick for the best part of the meal.</li>
          <li>Cool neon sign inside</li>
          <li>The guac is fresh and tasty, but Chacho's not trying to mess with those big ass pillowy chip thingy's in it.</li>
          <li>Your attitude is the most important part of your day.</li>
        </ul>
      </div>

      <div class="col-md-4 well">
        <p>
          <strong>What Chacho Said</strong><br>
          "<em>The chips and salsa arrive first scoring 4.5 out of five baskets of chips. The trio of salsas features delicious tomatillo salsa as well as a medium and hot traditional salsa. There were current list of restaurants a short the margaritas at little-mexico are peerless. They are delicious.</em>"
        </p>
        <br>
        <p>
          <strong>What Nacho Said</strong><br>
          "<em>Steam bludgeoned my face as I removed the soft corn tortillas from their foil wrapping. (Chacho Interjecting Here: Nacho got pretty pumped about his meal arriving.) The vibe is good but the soundtrack is Brooklyn 2010 + Seven Nation Army. Which is cool if you were especially into that year. If you're really into that year then you'll have a blast in this Mexican ristorante.</em>"
        </p>
      </div>
    </div>
  </section>

  <section class="photos">
    <div class="row">
      <div class="col-md-8">
        <div class="thumbnail">
          <%=image_tag("little-mexico/little-mexico-1.jpg", alt: "The Tables at Little Mexico")%>
          <div class="caption">
            <p>Table</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("little-mexico/little-mexico-2.jpg", alt: "Salsa and guac at Little Mexico")%>
          <div class="caption">
            <p>Salsa and guac</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("little-mexico/little-mexico-3.jpg", alt: "Ford F-150 in the parking lot of Little Mexico")%>
          <div class="caption">
            <p>Nacho's 1994 Ford F-150 is a great vehicle for driving to a Mexican restaurant or job site.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("little-mexico/little-mexico-4.jpg", alt: "The chicken enchiladas")%>
          <div class="caption">
            <p>It was freakin delicious.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("little-mexico/little-mexico-5.jpg", alt: "Guacamole spilled on the table.")%>
          <div class="caption">
            <p>The ranchero music of guacamole.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("little-mexico/little-mexico-6.jpg", alt: "The margarita at this Mexican restaurant")%>
          <div class="caption">
            <p>Average margs</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("little-mexico/little-mexico-7.jpg", alt: "Weird stains on the drop ceiling at Little Mexico")%>
          <div class="caption">
            <p>The ceiling above our booth.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("little-mexico/little-mexico-8.jpg", alt: "The receipt at Little Mexico is impossible to decipher")%>
          <div class="caption">
            <p>No comprende.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("little-mexico/little-mexico-9.jpg", alt: "The men's bathroom at Little Mexico")%>
          <div class="caption">
            <p>The bathroom.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("little-mexico/little-mexico-10.jpg", alt: "The main dining room at Little Mexico")%>
          <div class="caption">
            <p>The main dining room.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> <!-- /container -->
