<div class="jumbotron rosepepper-banner">
  <div class="container">
    <h1>Rosepepper <small>&#x20b1; &#x20b1; &#x20b1;</small></h1>
    <h2>Down about a half mile on Eastland past the old man cult building with no windows. As soon as you go down the hill and over the ditch start looking for parking.</h2>
  </div>
</div>

<div class="container">
  <section class="intro">
    <div class="row">
      <div class="col-md-8">
        <p>It was Christmastime, so we felt the need to go to Christmas Berry. Better known as eastern Nashville's <a href="http://rosepepper.com/">Rosepepper Cantina</a>. (A Rosepper is a Mexican Christmas <a href="http://en.wikipedia.org/wiki/Schinus_terebinthifolius">berry</a>.) Killer Margs. Dope Carniatas. The best chips we've had yet.</p>
        <p>Chacho and nacho both had the carnitas. Reader one thing you should know, Chacho's had more Carnitas than practically anyone in Middle Tennesse. These are good.</p>
      </div>

      <div class="col-md-4">
        <p>
          <strong>Chips and Salsa:</strong> 4.5<br>
          Nearly perfect if not for Chacho's childish reservations.
        </p>
        <p>
          <strong>House Margarita:</strong> 4.5<br>
          'Cuase nobody's perfect.
        </p>
        <p><strong>&iquest; Si or No?</strong> Si, dumbass.</p>
      </div>
    </div>
  </section>

  <section class="tips">
    <div class="row">
      <div class="col-md-8">
        <h3>Nacho's Tip</h3>
        <p>I know you want to put chips into your mouth every second you're at a Mexican restaurant, but if you have issues like me, after you finish your first basket just break off tiny portions and dip it in the salsa. Your boca will never know you didn't eat a full chip!</p>
      </p>

        <h3>Chacho's Truth</h3>
        <ul>
          <li>Pay attention to your corn tortillas. They are the critic's pick for the best part of the meal.</li>
          <li>Cool neon sign inside</li>
          <li>The guac is fresh and tasty, but Chacho's not trying to mess with those big ass pillowy chip thingy's in it.</li>
          <li>Your attitude is the most important part of your day.</li>
        </ul>
      </div>

      <div class="col-md-4 well">
        <p>
          <strong>What Chacho Said</strong><br>
          "<em>The chips and salsa arrive first scoring 4.5 out of five baskets of chips. The trio of salsas features delicious tomatillo salsa as well as a medium and hot traditional salsa. There were current list of restaurants a short the margaritas at Rosepepper are peerless. They are delicious.</em>"
        </p>
        <br>
        <p>
          <strong>What Nacho Said</strong><br>
          "<em>Steam bludgeoned my face as I removed the soft corn tortillas from their foil wrapping. (Chacho Interjecting Here: Nacho got pretty pumped about his meal arriving.) The vibe is good but the soundtrack is Brooklyn 2010 + Seven Nation Army. Which is cool if you were especially into that year. If you're really into that year then you'll have a blast in this Mexican ristorante.</em>"
        </p>
      </div>
    </div>
  </section>

  <section class="photos">
    <div class="row">
      <div class="col-md-8">
        <div class="thumbnail">
          <%=image_tag("rosepepper/rosepepper-1.jpg", alt: "Our carnitas meal arrives.")%>
          <div class="caption">
            <p>Carnitas heaven.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("rosepepper/rosepepper-2.jpg", alt: "The Menu at Rosepepper")%>
          <div class="caption">
            <p>House Especialades</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("rosepepper/rosepepper-3.jpg", alt: "The chips and guac")%>
          <div class="caption">
            <p>These fat chips are nasty. The chips the server with the salsa are pretty good. The guac is legit.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("rosepepper/rosepepper-4.jpg", alt: "Our crumpled up napkins")%>
          <div class="caption">
            <p>Our evening's contributions to the local landfill.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("rosepepper/rosepepper-5.jpg", alt: "The chips and trio of salsas at Rosepepper")%>
          <div class="caption">
            <p>The ranchero music of salsa.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("rosepepper/rosepepper-6.jpg", alt: "Chacho's receipt")%>
          <div class="caption">
            <p>CHACHO.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("rosepepper/rosepepper-7.jpg", alt: "Nacho's receipt")%>
          <div class="caption">
            <p>NACHO</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("rosepepper/rosepepper-8.jpg", alt: "Another view of the chips and guac")%>
          <div class="caption">
            <p>Nacho's damn finger got in the way</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("rosepepper/rosepepper-9.jpg", alt: "Rosepepper's cool neon sign")%>
          <div class="caption">
            <p>Rosepepper means "Christmas berry."</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("rosepepper/rosepepper-10.jpg", alt: "The bar at Rosepepper")%>
          <div class="caption">
            <p>The bar looks like this after two margaritas.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("rosepepper/rosepepper-11.jpg", alt: "The Rosepepper margaritas")%>
          <div class="caption">
            <p>Rosepepper's margaritas, the single best liquid or solid we've consumed on this journey thus far.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> <!-- /container -->
