<div class="jumbotron el-torero-banner">
  <div class="container">
    <h1>El Torero <small>&#x20b1; &#x20b1; &#x20b1;</small></h1>
    <h2>Down Whitebridge to the Stein Mart parking lot next to the Sally Beauty Supply. If you get to the Play it Again Sports you've gone too far.</h2>
  </div>
</div>

<div class="container">
  <section class="intro">
    <div class="row">
      <div class="col-md-8">
        <p>We left El Torero feeling like The Pet Shop boys and asking ourselves, "<a href="https://www.youtube.com/watch?v=Wn9E5i7l-Eg">What did [we] do to deserve this?</a>" Walking up to the front door we first noticed the bathroom tile on the exterior facade. Stepping inside, Nacho startled himself with an accidental camera flash while attempting to get a photo of the restaurant's 70s-lake-house wood paneling.</p>
        <p>As we sauntered to the very last booth in the back where the ambience was better because there were a couple of burned out can lights, a huge ball of fire erupted from a wok in the kitchen. We were soon approached by a man sweating profusely and wearing a hairnet. Clearly this place cares about customer service. They have the same employee that cooks your food serve it to you. A dedicated employee ensures your meal meets their low standards all the way from bag of frozen chicken terriyaki to your tortilla.</p>
      </div>

      <div class="col-md-4">
        <p><strong>Chips and Salsa:</strong> 3.5<br>
          Salsa was pretty good and spicy.</p>
        <p><strong>House Margarita:</strong> 3<br>
          Because we liked the glass.</p>
        <p><strong>&iquest; Si or No?</strong> No.</p>
      </div>
    </div>
  </section>

  <section class="tips">
    <div class="row">
      <div class="col-md-8">
        <h3>Nacho's Tip</h3>
        <p>
          Go to the booth in the far back right if you need to charge your device. There's a half-uncovered electrical outlet on level with the seat.</p>
        </p>

        <h3>Chacho's Truth</h3>
        <ul>
          <li>Guac is the standard blender guac they leave in the fridge.</li>
          <li>This place has extremely small portions of beans and rice.</li>
          <li>Nacho was ecstatic when Taylor Swift's "Shake it Off" came on the radio in the kitchen. The dining room had traditional ranchero music, which says a lot for ranchero music.</li>
          <li>The chips, menus, and tortillas are unnecessarily large.</li>
          <li>The menus have little Hunts tomato and Land O'Lakes logos on them for no apparent reason.</li>
          <li>We forgot to time it but per usual food came out really fast.</li>
          <li>They pay $21 per square foot in rent.</li>
          <li>This establishment serves Cherry Coke and milkshakes.</li>
          <li>The basket for the chips looks like they bought it at a church supply store.</li>
          <li>Don't eat at Mexican restaurants that have woks.</li>
          <li>You can't hack your life.</li>
        </ul>
      </div>

      <div class="col-md-4">
        <p>
          <strong>What Chacho Said</strong><br>
          "<em>The windows had the longest consecutive strand of blinds I've ever seen.</em>"
        </p>
        <br>
        <p>
          <strong>What Nacho Said</strong><br>
          "<em>We talked shit about the food the whole meal but we finished the guac, cleaned our plates, ate the basket of chips, and went in for a salsa refill.</em>"
        </p>
      </div>
    </div>
  </section>

  <section class="photos">
    <div class="row">
      <div class="col-md-8">
        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-1.jpg", alt: "The front counter")%>
          <div class="caption">
            <p>The front counter</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-2.jpg", alt: "Booths")%>
          <div class="caption">
            <p>The Booths</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-3.jpg", alt: "Our booth in the back")%>
          <div class="caption">
            <p>This was our booth in the back right.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-4.jpg", alt: "El ba&ntilde;o")%>
          <div class="caption">
            <p>El ba&ntilde;o</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-5.jpg", alt: "Shark painting")%>
          <div class="caption">
            <p>The decor has an oceanic theme.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-6.jpg", alt: "Chips and salsa")%>
          <div class="caption">
            <p>The salsa was pretty good and very spicy, but the chips were kinda bad.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-7.jpg", alt: "El Torero Menu")%>
          <div class="caption">
            <p>The El Torero Menu.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-8.jpg", alt: "The chips")%>
          <div class="caption">
            <p>Huge chips in a huge offering basket.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-9.jpg", alt: "The margaritas")%>
          <div class="caption">
            <p>The margs came in a glass well-suited to lemonade at the country club.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-10.jpg", alt: "The Hunts logo on the menu")%>
          <div class="caption">
            <p>The menu featured a mini graphic depiction of a Hunt's Tomato can.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-11.jpg", alt: "The Land O'Lakes logo on the menu.")%>
          <div class="caption">
            <p>...and also the Land O'Lakes logo.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-12.jpg", alt: "The menu was extremely large.")%>
          <div class="caption">
            <p>The menu was extremely large and oriented in an unexpected manner. It was a custom large paper size. The designer really outdid themselves with this innovation.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-13.jpg", alt: "The blinds at the restaurant.")%>
          <div class="caption">
            <p>The longest row of blinds Chacho has ever seen.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-14.jpg", alt: "A bag of frozen chicken niblets cooked in a firey wok.")%>
          <div class="caption">
            <p>A bag of frozen chicken niblets cooked in a firey wok.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-15.jpg", alt: "Electrical outlet in the back booth.")%>
          <div class="caption">
            <p>The booth in the back right is great for charging your device.</p>
          </div>
        </div>

        <div class="thumbnail">
          <%=image_tag("el-torero/el-torero-16.jpg", alt: "The exterior facade.")%>
          <div class="caption">
            <p>The view from the parking lot.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> <!-- /container -->
