<!DOCTYPE html>
<html>
<head>
  <title>A Guide to Metro Nashville's Mexican Restaurants</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="We're visiting every Mexican restaurant in metro Nashville to review three things: chips, salsa, and margaritas.">
  <meta name="keywords" content="salsa, Nashville, Mexico, chips, Ween, diarrhea, Nolensville Road, Carlos Slim, dips, guacamole, beans, Mexican, Jorge Campos, frijoles, frijoles negros">
  <meta name="author" content="Mark Harrod &amp; Lee McAlilly">
  <%= favicon_link_tag "favicon.ico" %>
  <%= favicon_link_tag("apple-touch-icon.png", :rel => "apple-touch-icon", :type => "image/png") %>
  <%= favicon_link_tag("apple-touch-icon-72.png", :rel => "apple-touch-icon", :type => "image/png", :sizes => "72x72") %>
  <%= favicon_link_tag("apple-touch-icon-114.png", :rel => "apple-touch-icon", :type => "image/png", :sizes => "114x114") %>
  <%= favicon_link_tag("apple-touch-icon-144.png", :rel => "apple-touch-icon", :type => "image/png", :sizes => "144x144") %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
