<!DOCTYPE html>
<html>
<head>
  <title>A Guide to Metro Nashville's Mexican Restaurants</title>
  <meta name="description" content="We're visiting every Mexican restaurant in metro Nashville to review three things: chips, salsa, and margaritas.">
  <meta name="keywords" content="salsa, Nashville, Mexico, chips, Ween, diarrhea, Nolensville Road, Carlos Slim, dips, guacamole, beans, Mexican, Jorge Campos, frijoles, frijoles negros">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <footer>
    <hr>
    <p><em>Disclaimer: All restaurant locations are approximate. No somos responsables de su diarrea. Coma en su propio riesgo.</em></p>
    <p>Have a blessed day.</p>
    <p>&copy; <%= Date.today.strftime("%Y") %> Chacho Harrod &amp; Nacho McAlilly</p>
  </footer>
</body>
</html>
