<%= render "layouts/html_header" %>

<body>
  <%= render "layouts/nav" %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
    <hr>
    <%= render "layouts/footer" %>
  </div> <!-- /container -->

  <%= render "layouts/analytics" %>
</body>
</html>
