<%= render "layouts/html_header" %>

<body>
  <%= render "layouts/nav" %>

  <div class="jumbotron homepage-banner-<%= rand(1..10) %>">
    <div class="container">
      <h1>&iexcl;Bienvenidos!</h1>
      <p>Welcome/Bienvenidos to <em>First I Would Like to Start With a Basket of Chips</em>.<br>
      We are visiting every Mexican restaurant in Nashville and rating their house margarita, chips and salsa.</p>
      <p><a class="btn btn-success btn-lg" href="/rankings" role="button">Get the Rankings &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>

    <%= render "layouts/footer" %>
  </div> <!-- /container -->

</body>
</html>
